body {
  font-family: sans-serif;
  margin: 0;
  padding: 2rem;
  background-color: #1b0505;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 1rem;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  justify-content: center;
  align-items: center;
}

p {
  margin-bottom: 1rem;
}

button {
  background-color: #227cdd;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #2cd13f;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 0.75rem 1rem;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #c1cfd6;
  font-weight: bold;
}

#infected-tigers {
  margin-top: 1.5rem;
}
